<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <a href="/user/auth/google">Sign In with Google</a>
    <form action="/login" method="post">
        <label for="name">Username</label>
        <input type="text" id="name" name="username" />

        <label for="pw">Password</label>
        <input type="password" id="pw" name="password" />

        <button type="submit">Submit</button>
    </form>
    <br><br>
    <a href="/register">Register Yourself</a>

</body>
</html>