<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
    <% if (user) { %>
    <h1>Welcome to  <%= user.displayName || user %> !!</h1>
    <% } %>
<p>Click here to <a href="/logout">Logout</a></p>
</body>
</html>